[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = ">=2.20.0"
"bs4" = "*"
ipython = "*"
lxml = "*"
schedule = "*"
selenium = "*"
coloredlogs = "*"
numpy = "*"

[requires]
python_version = "3.8"
